@inject SignInManager<Utilisateur> signInManager
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="~/style/plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="~/style/dist/css/adminlte.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
  <link rel="icon" asp-append-version="true" href="~/images/AppAntiPlagiatLogo.png" />
   <script src="~/js/site.js"></script>
    @RenderSection("style",false)
</head>
<body class="hold-transition sidebar-mini layout-footer-fixed">
<!-- Site wrapper -->
<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a asp-action="Dashboard" class="nav-link">Dashboard</a>
        <li>
        <li class="nav-item d-none d-sm-inline-block">
            <a asp-action="Messages" class="nav-link">Messages</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a asp-action="Accueil" asp-controller="Home" class="nav-link">Accueil</a>
        </li>
    </ul>
    
    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        @if(signInManager.IsSignedIn(User))
        {
            <form asp-action="LogOut" asp-controller="Home" method="post">
                <input type="submit" class="btn btn-block btn-dark" value="se déconnecter"/>
            </form>
        }
        
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4" id="showDashboards">
            <!-- Brand Logo -->
            <a class="brand-link">
                <img src="~/images/AppAntiPlagiatLogo.png" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">anti<b>Plagiat</b></span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="info">
                        <a class="d-block">ADMIN</a>
                    </div>
                </div>

                <!-- SidebarSearch Form -->
                <div class="form-inline">
                    <div class="input-group" data-widget="sidebar-search">
                        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-sidebar">
                                <i class="fas fa-search fa-fw"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                             with font-awesome or any other icon font library -->
                        <li class="nav-item">
                            <a href=@Url.Action("Dashboard") class="nav-link">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Dashboard 
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">
                                <i class="nav-icon fas fa-user"></i>
                                <p>
                                    Gestion Enseignant
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href=@Url.Action("AjouterEnseignant") class="nav-link">
                                        <i class="fas fa-user-plus nav-icon"></i>
                                        <p>Ajouter Enseignant</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href=@Url.Action("RechSuppModEnseignant") class="nav-link">
                                        <i class="fas fa-user-edit nav-icon"></i>
                                        <p>Rech + Supp + Mod</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">
                                <i class="nav-icon fas fa-user-graduate"></i>
                                <p>
                                    Gestion Etudiant
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href=@Url.Action("AjouterEtudiant") class="nav-link">
                                        <i class="fas fa-user-plus nav-icon"></i>
                                        <p>Ajouter Etudiant</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href=@Url.Action("RechSuppModEtudiant") class="nav-link">
                                        <i class="fas fa-user-edit nav-icon"></i>
                                        <p>Rech + Supp + Mod</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href=@Url.Action("Affectation") class="nav-link">
                                <i class="nav-icon fas fa-people-arrows"></i>
                                <p>
                                    Affectation
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href=@Url.Action("ListeAffectation") class="nav-link">
                                <i class="nav-icon fas fa-people-arrows"></i>
                                <p>
                                   Liste des affectations
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href=@Url.Action("AffectationAlleatoire") class="nav-link">
                                <i class="nav-icon fas fa-people-arrows"></i>
                                <p>
                                    Affectation Aleatoire
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href=@Url.Action("Messages") class="nav-link">
                                <i class="nav-icon far fa-envelope"></i>
                                <p>
                                    Messages
                                </p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
      <div id="main-content">
            @RenderBody()
      </div>
    
  </div>
  <!-- /.content-wrapper -->

  <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
    </div>
            <strong>© @DateTime.Now.Year ENSAF, Copyright ensaf.ac.ma</strong> All rights reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
    <script src="~/style/plugins/jquery/jquery.min.js"></script>

<!-- Bootstrap 4 -->
    <script src="~/style/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Theme scripts -->
    <script src="~/style/dist/js/adminlte.min.js"></script>
    <!-- SweetAlert2 -->
    <script src="~/style/plugins/sweetalert2/sweetalert2.min.js"></script>
    <!-- Toastr -->
    <script src="~/style/plugins/toastr/toastr.min.js"></script>
    <!-- Page specific script -->
     @RenderSection("scripts",false)
</body>
</html>
