@model IEnumerable<RapportViewModel>
@inject ApplicationDbContext db
@{
    ViewBag.Title = "Liste des Rapports";
}

<div id="partial-content-container" style="padding : 1%">
    <div class="card">
        <h4 class="card-header"><b>Liste des rapports</b></h4>
        <div class="card-body">
        @if (Model.Count() == 0)
        {
            <p>Aucun rapport n'a été soumis.</p>
        }
        else
        {
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Étudiant</th>
                        <th>Type de stage</th>
                        <th>Intitulé du rapport</th>
                        <th>Pourcentage de plagiat</th>
                        <th>Date de soumission</th>
                        <th>Dernière modification le</th>
                        <th>Status</th>
                        <th>Téléchargement</th>
                        <th>Plagiat manuelle</th>
                        <th>Validé le rapport</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (RapportViewModel item in Model)
                    {
                        <tr>
                            <td><a href="/Home/Profiles?id=@item.rapport.EtudiantId">@db.Utilisateurs.Find(item.rapport.EtudiantId).NomComplet</a></td>
                            <td>@item.rapport.Type</td>
                            <td>@item.rapport.Intitulé</td>
                            <td>@item.pourcentagePlagiat.ToString("0.00")%</td>
                            <td>@item.rapport.DateDepot</td>
                            <td>
                                @if(item.rapport.DateModif != null){
                                    @item.rapport.DateModif
                                }else{
                                    <span>aucune modification</span>
                                }     
                            </td>
                            <td>
                                @if (@item.rapport.Validé)
                                {
                                    <span style="color:forestgreen">Validé</span>
                                }
                                else
                                {
                                    <span style="color:darkgoldenrod">en cours de vérification</span>
                                }
                            </td>
                            <td><a asp-action="DownloadPdf" title="télécharger le rapport" asp-route-id="@item.rapport.Id">Télécharger</a></td>
                            <td> 
                                @if (@item.rapport.Validé)
                                {
                                    <span style="color:forestgreen">Validé</span>
                                }
                                else
                                {
                                    <a href="/Enseignant/PlagiatManuelle?id=@item.rapport.Id">ici</a>
                                }
                            </td>
                            <td>
                                @if (@item.rapport.Validé)
                                {
                                    <span style="color:forestgreen">Le rapport est déjà validé</span>
                                }
                                else
                                {
                                    <a asp-action="ValiderRapport" asp-route-id="@item.rapport.Id" asp onclick="confirm('Voulez-vous vraiment valider ce rapport ?')" class="btn btn-block btn-success">Valider</a>
                                }
                                
                            </td>
                            
                        </tr>
                    }
                </tbody>
            </table>
        }
        </div>
    </div>
</div>

